[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/0.6/account-abstraction"]
	path = lib/0.6/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "lib/0.7/account-abstraction"]
	path = lib/0.7/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "lib/0.6/openzeppelin-contracts"]
	path = lib/0.6/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/0.7/openzeppelin-contracts"]
	path = lib/0.7/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
